<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<style>
		.box {
			border: 1px solid black;
		}
		.box2 {
			margin-right: 10px;
			border: 1px solid black;
		}
	</style>
	<body>
		<div class="box2">
			<h1>Create user</h1>
			<form action="/" method="post">
				<div>
					<label for="f_name">First Name</label>
					<input type="text" name="f_name" id="" />{% for message in
					get_flashed_messages(category_filter = ['f_name']) :%}
					{{message}} {%endfor%}
				</div>
				<div>
					<label for="l_name">Last Name</label>
					<input type="text" name="l_name" id="" />{% for message in
					get_flashed_messages(category_filter = ['l_name']) :%}
					{{message}} {%endfor%}
				</div>
				<div>
					<label for="email">Email</label>
					<input type="text" name="email" id="" />{% for message in
					get_flashed_messages(category_filter = ['email']) :%}
					{{message}} {% endfor %}
				</div>

				<div>
					<label for="password">password</label>
					<input type="password" name="password" id="" />{% for
					message in get_flashed_messages(category_filter =
					['password']) :%} {{message}} {%endfor%}
				</div>
				<div>
					<label for="confirm_password">confirm password</label>
					<input type="password" name="confirm_password" id="" />{%
					for message in get_flashed_messages(category_filter =
					['confirm']) :%} {{message}} {%endfor%}
				</div>
				<button type="submit">create</button>
			</form>
		</div>
		<div class="box">
			<h1>Login</h1>
			<form action="log_in" method="post">
				<div>
					<label for="email">Email</label>
					<input type="text" name="email" id="" />{% for message in
					get_flashed_messages(category_filter = ['match']) :%}
					{{message}} {%endfor%}
				</div>
				<div>
					<label for="password">Password</label>
					<input type="password" name="password" id="" />{% for
					message in get_flashed_messages(category_filter = ['match'])
					:%} {{message}} {%endfor%}
				</div>
				<div><button type="submit">Login</button></div>
			</form>
		</div>
	</body>
</html>
